form#registerForm {
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0, 0.75);
   -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0, 0.75);
   box-shadow: 2px 0px 10px 0px rgba(0,0,0, 0.75);
}
.form-control.my_p{
    padding: 24px;
}
hr.line {
    margin-top: 1rem;
    margin-bottom: 2rem!important;
    border: 0;
    width:100%;
    border-top: 2px solid rgba(0,0,0,.1)!important;
}
a.nav-link {
    margin-left: 25px!important;
    color: gray!important;
    font-size: 16px!important;
}
a.dropdown-item {
    font-size: larger;
    font-weight: bold;
    color: gray;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
  }
  a.nav-link {
    font-weight: 500;
    font-size: 18px!important;
    text-transform: uppercase;
    position: relative;
    /* position: absolute; */
  }
  
  a.nav-link::before {
    content: '';
    position: absolute;
    background: goldenrod;
    height: 3px;
    width: 0%;
    bottom: 0;
    transition: 0.5s linear;
  }
  li.nav-item {
    margin-left: 20px;
  }