{% extends 'crud/base.html'%}

{% block title%}
<title>Home Page</title>
{% endblock title%} 

{% block content%}

<div class="container bootstrap snippets bootdey">
    <div class="row mt-4">
        <div class="post-list">
            {%for post in posts%}
            <div class="row mb-3 border py-3">
                <div class="col-sm-2">
                    <div class="picture">
                        <img alt="Opt wizard thumbnail" src="{{post.author.profile.pro_image.url}}">
                    </div>
                </div>
                <div class="col-sm-8">
                    <h4>
                        <a class="username text-capitalize" href="{% url 'user-profile' post.author.id%}">{{post.author}}</a>
                        <label class="label text-capitalize bg-secondary text-white p-1">#{{ post.title}}</label>
                    </h4>
                    <h5> 
                    <i class="far fa-calendar-alt"></i>
                    {{post.timestamp}}
                    </h5>
                    <p class="description">{{post.short_description }}</p>    
                </div>
                <div class="col-sm-2" data-no-turbolink="">
                    <a class="btn btn-primary btn-download btn-round pull-right makeLoading" href="{% url 'post-detail' post.id%}">
                    <i class="fa fa-share"></i> Read More..
                    </a>            
                </div>
            </div>
            {%endfor%}
        </div>
        
    
    </div>
</div>
 
   
 
{% endblock content%}   
   