{% extends 'crud/base.html'%}

{% block title%}
<title>Password Change</title>
{% endblock title%} 


{% block content%}
<div class="container mt-5">
    <div class="row mt-4">
        <div class="col-md-5 mx-auto mt-4">
            <h3 class="alert alert-secondary text-center my-3">Password Change</h3>
            <form action="" method="POST">
                {%csrf_token%}
                {% for form in pass_form%}
                  {{form.label_tag}} {{form}}  {{form.errors|striptags}}
                {% endfor %}
                <input type="submit" class="btn btn-info btn-block mt-3" value="Confirm">
            </form>
        </div>
    </div>
</div>
  
{% endblock content%}